.titulo {
    font-style: oblique;
    text-decoration: gray;
    text-align: center;
    text-shadow: 3px 2px lightgray;
    text-decoration-line: underline;
    
}
.subtitulo{
    width: 50%;
    text-decoration: darkgray;
    text-align: center;
    text-shadow: 2px 1px gray;
    text-decoration-line: underline;
}

.textoIzquierda{
    width: 50%;
}

.textoDerecha{
    position: relative;
    left: 50%;
    width: 50%;
}

.barraflotante{
    position: sticky;
    background-image:url('fondobarra.png');
    width: 98%;
    height: 75px;
    top: 0px;
    text-align: center;
    background-color: darkturquoise;
    border: 3px solid darkgoldenrod;
    border-style: solid hidden solid hidden;
    border-radius: 35px;
}

.barraflotante .titulodepagina{
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    font-style: oblique;
    text-decoration: red;
    text-align: center;
    text-shadow: 3px 2px lightgray;
    text-decoration-line: underline;
}
.barraflotante .internosuperior{
    position: absolute;
    text-align: center;
    top: 0px;
}

.barraflotante .internoinferior{
    position: absolute;
    text-align: center;
    width: 98%;
    margin: auto;
    padding: 0 10px;
    top: 33px;
}

.barraflotante .internoinferior .BotonDeshabilitado{
    background-color: darkgray;
    color: gray;
}

.barraflotante .internoinferior .BotonHabilitado{
    text-align: center;
    background-color: beige;
    color: black;
}

.barraflotante .internoinferior .BotonHabilitado:hover{
    text-align: center;
    background-color: darksalmon;
    color: black;
}